# Compose file for production.

volumes:
  db_data:
  storage:

services:
  app:
    image: snipeit-build
    container_name: seta
    restart: unless-stopped
    volumes:
      - storage:/var/lib/snipeit
    ports:
      - 8888:80
    depends_on:
      db:
        condition: service_healthy
        restart: true
    env_file:
      - snipeenv.docker

  db:
    image: mariadb:11.5.2
    container_name: databases
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: snipeit
      MYSQL_USER: snipeit
      MYSQL_PASSWORD: Adminlocal123a@
      MYSQL_ROOT_PASSWORD: Adminlocal123a@
    healthcheck:
      # https://mariadb.com/kb/en/using-healthcheck-sh/#compose-file-example
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 1s
      retries: 5
